.Passes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: calc(var(--default-gap) + 138px);
  padding-bottom: var(--default-gap);

  @mixin fixedElement {
    width: 100%;
    max-width: 400px;
    padding: var(--default-gap);
    position: fixed;
    background: white;
    z-index: 9;
  }

  .navbar {
    @include fixedElement;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filterBar {
    @include fixedElement;
    text-align: left;
    top: 50px;
  }
}

@media (max-width: 294px) {
  .Passes {
    padding-top: calc(var(--default-gap) + 173px);
  }
}
