.Passes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: calc(var(--default-gap) + 138px);
  padding-bottom: var(--default-gap);

  @mixin fixedElement {
    width: 100%;
    max-width: 400px;
    padding: var(--default-gap);
    position: fixed;
    background: white;
    z-index: 9;
  }

  .navbar {
    @include fixedElement;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filterBar {
    @include fixedElement;
    text-align: left;
    top: 50px;
  }

  .card {
    text-align: left;
    margin: 0 var(--default-gap);

    div {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.inService {
      border-color: green;
    }

    &.expired {
      background: rgba(208, 200, 200, 0.3);
      position: relative;
      overflow: hidden;

      &:after {
        content: "недействителен";
        position: absolute;
        bottom: -5px;
        right: 5px;
        font-size: 30px;
        margin: 0;
        padding: 0;
        opacity: 0.07;
        text-transform: uppercase;
      }
    }

    .title {
      font-weight: bold;
      margin-bottom: calc(1.5 * var(--default-gap));
      text-transform: uppercase;
      color: grey;
    }

    .name {
      font-weight: bold;
    }

    .carPlate {
      background: white;
      border: 2px solid black;
      border-radius: 5px;
      padding: 1px 4px;
      max-width: fit-content;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 294px) {
  .Passes {
    padding-top: calc(var(--default-gap) + 173px);
  }
}

